body {
  font-family: serif;
  padding: 10px;
}
textbox {
  height: 500px;
  width: 700px;
  resize: vertical;
}
.bugkiller-button {
  padding: 10px;
  border: 1px gray solid;
  transition: background-color 0.3s;
  cursor: pointer;
  background-color: #ebebeb;
  font-size: 1.1em;
  font-weight: 700;
}
.bugkiller-button:hover {
  background-color: #b3b3b3;
}
.bugkiller-button:active {
  background-color: #a1a1a1;
}
