body {
  font-family: sans-serif;
  padding: 10px;
}
textarea {
  height: 500px;
  width: 99%;
  resize: none;
  padding: 10px;
}
.bugkiller-button {
  padding: 10px;
  border: 1px gray solid;
  transition: background-color 0.3s;
  cursor: pointer;
  background-color: #ebebeb;
  font-size: 1.1em;
  font-weight: 700;
  border-radius: 3px;
}
.bugkiller-button:hover {
  background-color: #b3b3b3;
}
.bugkiller-button:active {
  background-color: #a1a1a1;
}
input[type="text"] {
  padding: 10px;
  font-family: monospace;
  width: 99%;
}
#configpath {
  opacity: 0;
  width: 0;
  height: 0;
  font-size: 0;
  font-family: monospace;
}
.bugkiller-icon-mail:after {
  font-family: wingdings;
  content: "*";
}
#js-disabled {
  background-color: red;
  font-weight: 700;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}